@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  margin: 0.2rem;
  color: black;
  padding: 6px 18px;
  border-radius: 2rem;
}

.nav-link:hover {
  transform: scale(0.5);
  background-color: #ccc;
}

.show-menu-btn {
  display: none;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 98%;
  margin: auto;
}

.gallery img {
  border-radius: 0.5rem;
}

.gallery img:hover {
  transform: scale(1.04);
  transition: all 200ms;
}

@media (width <= 500px) {
  nav ul {
    display: none;
  }

  .show-menu-btn {
    display: block;
  }

  .gallery {
    grid-template-columns: 1fr;
  }
}
